web/portal/node_modules

# Ignore the node_modules directory in the web folder

.env
# Ignore the .env file in the root directory
# Ignore .zip files
*.zip
.vscode/
# Ignore Visual Studio Code settings directory